<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <form method="get" action="/confirm">
		<ul><% spaces.forEach(function(space) { %>
			<li> Name: <%= space.name %> at <%= space.address %> (£<%= space.price %>)
				Description: <%= space.description %>
       <button type=submit>Choose</button>
			<% }) %>
		</ul>
    </form>
  </body>
</html>
