<!DOCTYPE html>
<html>
  <head>
    <% include ./layout %>
  </head>

  <body>

      <% include ./header %>

    <h1><%= title %></h1>
    <form method="post" action="/confirm">
		<ul><% spaces.forEach(function(space) { %>
			<li> Name: <%= space.name %> at <%= space.address %> (£<%= space.price %>)
				Description: <%= space.description %> Booked: <%= space.booked %>
       <button type=submit name="a">Choose</button>
			<% }) %>
		</ul>
    </form>
  </body>
</html>
