<!DOCTYPE html>
<html>
  <head>
    <% include ../layout %>
  </head>

  <body>

		<!--  <% include ../header %> -->

    <h1><%= title %></h1>
		<h2> All available spaces, including requested ones, that have not yet been confirmed by the
			owner. </h2>

		<form action='/spaces/requested'>
			<button type='submit'>Go to Requests Page</button>
		</form>
		<form action='/spaces/new'>
			<button type='submit'>Add New Space</button>
		</form>

    <form method="post" action="/confirmrequest">
		<% spaces.forEach(function(space) { %>
      <% if(!space.booked) { %>
			<p id='container'>
				<div id='left'> <img src= <%=space.image%> height='80' width='80'></img></div>
				<div id='middle'>
					<%= space.name %> at <%= space.address %> (£<%= space.price %>)</br>
					Description: <%= space.description %> 
				</div>
				<div id='right'>
					<button type=submit name ="id" value =<%= space.id%> >Request</button>
				</div></br>
			</p>
			<% } %>
		<% }) %>
    </form>
  </body>
</html>
