<!DOCTYPE html>
<html>
  <head>
    <% include ../layout %>
  </head>

  <body>

      <% include ../header %>

    <h1><%= title %></h1>
		<h2> All spaces that have been requested by a guest, but not yet confirmed by the owner. </h2>
    <form method="post" action="/confirmbooking">
				<% spaces.forEach(function(space) { %>
					<% if(!space.booked) { %>
            <p id='container'>
      				<div id='left'> <img src= <%=space.image%> height='80' width='80'></img></div>
      				<div id='middle'>
                 Name: <%= space.name %> at <%= space.address %> (£<%= space.price %>)
							   Description: <%= space.description %>
            </div>
            <div id='right'>
						        <button type=submit name ="id" value =<%= space.id%> >Confirm</button>
            </div> </br>
          </p>
					 <% } %>
				<% }) %>

    </form>
  </body>
</html>
